.date-time-background {
    background-color: #f7f7f9;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0;
    padding: 1.5rem;
    text-align: center;
}
.padding-size {
    padding: 2rem 2.5rem;
}
.logo {
    color: #e91818;
    font-weight: 800;
    font-size: 3rem;
    font-family: "Cairo", sans-serif;
    cursor: pointer;
}

.search {
    position: relative;
}
.search form {
    width: 50rem;
    text-align: center;
}
.search input {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.5rem;
    height: 4rem;
    width: 20%;
    border:none;
    outline: none;
    padding: 0.1rem 4.7rem 0.1rem 0.2rem;
}
.search .bx-search {
    font-size: 2rem;
    color: #000000;
    position: absolute;
    top: 10px;
    right: 0px;
    left: 37px;
}
@media (width < 715px) {
    .search form {
        width: 10rem;
    }
    }
@media (width < 600px) {
.date-time-background{
    font-size: 1rem;
    padding: 0.5rem;
}
.padding-size {
    padding: 1rem 1.5rem;
}
}
@media (width < 280px) {
    .logo {
        font-size: 2rem;
    }
    }
.boreder-1{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;

}
.navbar {
    width: 100%;
    overflow-x: auto;
}
.nav-ul {
    gap:2rem;
    margin-bottom: 0 !important;
}
.nav-ul li {
    list-style: none;
    margin-inline: 2rem;
}
.nav-ul li a {
    text-decoration: none;
    font-size: 2.5rem;
    color: #151515;
    font-weight: 500;
    white-space: nowrap
  
}
@media (width < 584px) {
    .nav-ul li a {
        font-size: 2rem;
    }
    }
