@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Noto+Naskh+Arabic:wght@400..700&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Naskh Arabic", serif;
}